<nav>
  <div class="site-title">
    <a href="/"><h1>Wanderrouten Finder</h1></a>
    <p>A Trackviewer Application</p>
  </div>
  <ul>
    <li><a href="/">Routes</a></li>
    <li><a href="/route/create">New Route</a></li>
  </ul>
</nav>