<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="create-blog content">
    <form action="/comment/<%= id %>" method="POST">
      <label for="score">Ranking:</label>
      <input type="Number" id="score" name="score" required>
      <label for="title">Überschrift:</label>
      <input type="text" id="title" name="title" required>
      <label for="body">Beschreibung:</label>
      <textarea id="body" name="body" required></textarea>
      <button>Submit</button>
    </form>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>